{% extends 'base.html.twig' %}
{% block sidebar %}
{% endblock %}

{% block content %}
    <div class="container margin-top-15">

    <div class="row">
        <div class="col-md-3">
            <h3 class="my-4">Category</h3>
            <div class="list-group">
                {% for category in categories %}
                    {% if category.Name == categoryTitle.Name %}
                        <a href="{{ path('category', {id: category.id }) }}"
                           class="list-group-item list-group-item-action active">{{ category.Name }} </a>
                    {% else %}
                        <a href="{{ path('category', {id: category.id }) }}"
                           class="list-group-item list-group-item-action">{{ category.Name }} </a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>

        <div class="col-lg-9">
            <div class="row">

                {% for product in products %}
                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="card h-100">
                            <a class="center"><img class="card-img-top img-size-200"
                                                   src="{{ vich_uploader_asset(product, 'imageFile') }}"
                                                   alt="No"></a>
                            <div class="card-body">
                                <h4 class="card-title">
                                    <a href="">{{ product.Name }}</a>
                                </h4>
                            </div>
                            <div class="card-body">
                                {% if product.typeSale != null %}
                                    <s>{{ product.Cost }}</s>
                                    <h5>{{ product.Cost - product.typeSale.money }} ла</h5>
                                {% else %}
                                    <h5>{{ product.Cost }} ла</h5>
                                    <br>
                                {% endif %}
                                <p class="card-text">{{ product.Brand }}</p>
                            </div>
                            {% if is_granted('ROLE_USER') %}
                                <div class="card-footer">
                                    <a href="{{ path('product', {id: product.id }) }}" class="btn btn-info">Info</a>
                                </div>
                            {% else %}
                                <div class="card-footer">
                                    <a href="{{ path('fos_user_security_login') }}" class="btn btn-info">Info</a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <?php } ?>
                {% endfor %}
            </div>
            <!-- /.row -->

        </div>
        <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->


{% endblock %}