{% extends 'base.html.twig' %}


{% block content %}

    <!-- /.col-lg-3 -->

    <div class="col-lg-9">

        <div class="card mb-3">
            <h3 class="card-header">{{ product.name }}</h3>
            <a class="center"><img class="card-img-top img-size-300"
                                   src="{{ vich_uploader_asset(product, 'imageFile') }}"
                                   alt="No"></a>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Brand: {{ product.brand }}</li>
                {% if product.typeSale != null %}
                    <li class="list-group-item">Price:
                        <s>{{ product.cost }}</s> {{ product.cost - product.typeSale.money }} ла
                    </li>
                {% else %}
                    <li class="list-group-item">Price: {{ product.cost }} ла</li>
                {% endif %}
            </ul>
            <div class="card-body">
                <p class="card-text">{{ product.description }}</p>
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <button type="submit" class="btn btn-primary">Add</button>
                {{ form_end(form) }}
            </div>
        </div>

    </div>


{% endblock %}
